:root {
  --ff-sans: Arial, Helvetica, sans-serif;
  --ff-serif: Georgia, Times New Roman, Times, serif;
  --ff-mono: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
  --theme-body-font-family:var(--ff-sans);
  --padding: 5px;
  --fsize-h1: 2.25em;
  --fsize-h2: 1.75em;
  --fsize-h3: 1.5em;
  --fsize-h4: 1.25em;
  --fsize-h5: 1em;
  --headsize: var(--fsize-h2);
}

body {
  background-color: #fff;
  margin: 16px auto;
  width: 960px;
}

body .markdown-body
{
  padding: 45px;
}

/* reuse the output of MarkdownPreview*/
.markdown-body {
  position: relative;
  font: var(--ff-sans)
  color: #333333;
  overflow: hidden;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown-body p.wrap {
  word-wrap: break-word;
  word-break: break-all;
}

.markdown-body strong {
  font-weight: bold;
}

.markdown-body img {
  border: 0;
}

.markdown-body hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

.markdown-body pre {
  overflow: auto;
}

.markdown-body code,
.markdown-body kbd,
.markdown-body pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.markdown-body input {
  color: inherit;
  font: inherit;
  margin: 0;
}

.markdown-body html input[disabled] {
  cursor: default;
}

.markdown-body input {
  line-height: normal;
}

.markdown-body input[type="checkbox"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

.markdown-body table {
  border-collapse: collapse;
  border-spacing: 0;
}

.markdown-body td,
.markdown-body th {
  padding: 0;
}

.markdown-body th.bgcolor {
  background-color: black;
  color: white;
}

.markdown-body * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.markdown-body a {
  color: var(--blue);
  text-decoration: none;
}

.markdown-body a:hover,
.markdown-body a:focus,
.markdown-body a:active {
  color: var(--red);
  text-decoration: underline;
}

.markdown-body hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.markdown-body hr:before {
  display: table;
  content: "";
}

.markdown-body hr:after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body ul,
.markdown-body ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body ol ol,
.markdown-body ul ol {
  list-style-type: lower-roman;
}

.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
  list-style-type: lower-alpha;
}

.markdown-body dd {
  margin-left: 0;
}

.markdown-body code {
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.markdown-body pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.markdown-body>*:first-child {
  margin-top: 0 !important;
}

.markdown-body>*:last-child {
  margin-bottom: 0 !important;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.1;
}

.markdown-body h1 a.headerlink,
.markdown-body h2 a.headerlink,
.markdown-body h3 a.headerlink,
.markdown-body h4 a.headerlink,
.markdown-body h5 a.headerlink,
.markdown-body h6 a.headerlink {
  opacity: 0;
}
.markdown-body h1:hover a.headerlink:after,
.markdown-body h2:hover a.headerlink:after,
.markdown-body h3:hover a.headerlink:after,
.markdown-body h4:hover a.headerlink:after,
.markdown-body h5:hover a.headerlink:after,
.markdown-body h6:hover a.headerlink:after {
  font-family: 'FontAwesome';
  content: "\f0c1";
  vertical-align: middle;
  margin-left: -16px;
  float: left;
  display: inline-block;
  text-decoration: none;
  opacity: 70;
  color: #333;
}

.markdown-body h1 {
  padding-bottom: 0.3em;
  font-size: var(--fsize-h1);
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}

.markdown-body h2 {
  padding-bottom: 0.3em;
  font-size: var(--fsize-h2);
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}

.markdown-body h3 {
  font-size: var(--fsize-h3);
  line-height: 1.43;
}

.markdown-body h4 {
  font-size: var(--fsize-h4);
}

.markdown-body h5 {
  font-size: var(--fsize-h5);
}

.markdown-body h6 {
  font-size: 1em;
  color: #777;
}

.markdown-body p,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 2em;
}

.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body li>p {
  margin-top: 16px;
}

.markdown-body dl {
  padding: 0;
}

.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-body table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

.markdown-body table th {
  font-weight: bold;
}

.markdown-body table th,
.markdown-body table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.markdown-body table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.markdown-body table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.markdown-body img {
  max-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.markdown-body code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

.markdown-body code:before,
.markdown-body code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.markdown-body pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown-body .highlight {
  margin-bottom: 16px;
}

.markdown-body .highlight pre,
.markdown-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

.markdown-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown-body pre {
  word-wrap: normal;
}

.markdown-body pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.markdown-body pre code:before,
.markdown-body pre code:after {
  content: normal;
}

.externallink {color:var(--blue);}
.externallink:after {font-family:"FontAwesome"; content:"\f08e"; color:var(--blue);}

blockquote {
  padding: 18px;
  margin: 10px;
  font-style: italic;
  font-size: 1.1em;
  color: var(--yellow-800);
  background-image: url(/img/openquote.gif);
  background-repeat: no-repeat;
  background-position: top left;
  text-indent: 18px;
}
blockquote span {
  display: block;
  background-image: url(/img/closequote.gif);
  background-repeat: no-repeat;
  background-position: bottom right;
}

p.quotefrom {
  text-align: right;
  color: var(--yellow-600);
  font-style: italic;
  font-weight: bold;
}

/* fluorescent marker, emphasized*/
span.red { background: var(--red); color: var(--white) ; padding:var(--padding); text-decoration: none; font-weight: bold; }
span.pink { background: var(--red-100); color: var(--black) ; padding:var(--padding); text-decoration: none; font-weight: bold; }
span.blue { background: var(--blue);color: var(--white); padding:var(--padding); text-decoration: none; font-weight: bold; }
span.yellow { background: var(--yellow-400); color: var(--blue); padding:var(--padding); text-decoration: none; font-weight: bold; }
span.green { background: var(--green); color: var(--white); padding:var(--padding); text-decoration: none; font-weight: bold; }


img {max-width:100%; border:0; -ms-interpolation-mode: bicubic; padding:20px; vertical-align: middle; }
.thumbimg {margin:3px; padding:10px; width:160px; height:120px; } 
.thumbimg_desc {font-size:16px;word-break:break-all;width:100%; overflow:auto;} 
.thumbimage{ max-width:320px; max-height:240px; }
*html.thumbimage{
  width:expression_r(this.width>320&&this.width>this.height?310:auto);
　height:expresion(this.height>240?240:auto);
}


/*NAVIGATE*/
#toolbar { list-style:none; font-size:18px; display:inline; }
#toolbar .icon { font-size: 12px; }
#toolbar li { float: left; }
#toolbar li a { display:inline-block;
/*cayan:#CCCCFF; purple:#CC99FF; green:#1abc9c; gray:#eee; orange:#CC9933*/
background-color:#EEEEEE; 
border:1px solid; border-color:#f3f3f3 #bbb #bbb #f3f3f3;
margin:0; padding:.5em; zoom: 0; }

#breadcrumb { list-style: none; display: inline; }
#breadcrumb .icon { font-size: 14px; }
#breadcrumb li { float: left; }
#breadcrumb li a {
  color: #FFF;
  display: block;
  background: #3498db;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb li:nth-child(even) a { background-color: #2980b9; }
#breadcrumb li:nth-child(even) a:before { border-color: #2980b9; border-left-color: transparent; }
#breadcrumb li:nth-child(even) a:after { border-left-color: #2980b9; }
#breadcrumb li:first-child a {
  padding-left: 15px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb li:first-child a:before { border: none; }
#breadcrumb li:last-child a {
  padding-right: 15px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb li:last-child a:after { border: none; }
#breadcrumb li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #3498db;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb li a:before { left: -20px; border-left-color: transparent; }
#breadcrumb li a:after { left: 100%; border-color: transparent; border-left-color: #3498db; }
#breadcrumb li a:hover { background-color: #1abc9c; }
#breadcrumb li a:hover:before { border-color: #1abc9c; border-left-color: transparent; }
#breadcrumb li a:hover:after { border-left-color: #1abc9c; }
#breadcrumb li a:active { background-color: #16a085; }
#breadcrumb li a:active:before { border-color: #16a085; border-left-color: transparent; }
#breadcrumb li a:active:after { border-left-color: #16a085; }

/*H1-4 titles*/
.headBottom {
  border-bottom:1px dashed #CBCBCB; 
  padding:10px 15px 0; 
  margin-bottom:0.5%; 
  line-height:1.625*var(--headsize); 
  height:2.5*var(--headsize); 
  overflow:hidden; padding-left:12px; }
.headBottom .bNum{ padding:0 5px; color:#fff; font-size:var(--headsize); font-weight:700; background:#1b4798; float:left;}
.headBottom .bTit{ width: 640px; color:#038; font-size:var(--headsize); font-weight:700; padding-left:12px; float:left; text-align:left;}
.headBottom .Next {padding-left:12px; margin-top:1%; float:right; font-size:var(--fsize-h5);}
.headBottom .Next:before {font-family:"FontAwesome"; content:"\f138"; color:var(--blue);}
.headTop{
  border-top:1px dashed #CBCBCB; 
  padding:10px 15px 0; 
  margin-top:0.5%; 
  line-height:1.625*var(--headsize); 
  height:2.5*var(--headsize); overflow:hidden;}
.headTop .tNum{ padding:0 5px; color:#fff; font-size:var(--headsize); font-weight:700; background:#1b4798; float:left;}
.headTop .tTit{ width:640px; color:#038; font-size:var(--headsize); font-weight:700; padding-left:12px; float:left; text-align:left;}
.headTop .Next {padding-left:12px; margin-bottom:1%; float:right; font-size:var(--fsize-h5);}
.headTop .Next:before {font-family:"FontAwesome"; content:"\f138"; color:var(--blue);}

/*CSS Notification Boxes*/
.alert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
    margin:10px;
}
.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}
.error {
    background:#ffecec url('/img/error.png') no-repeat 10px 50%;
    border:1px solid #f5aca6;
}
.success {
    background:#e9ffd9 url('/img/success.png') no-repeat 10px 50%;
    border:1px solid #a6ca8a;
}
.warning {
    background:#fff8c4 url('/img/warning.png') no-repeat 10px 50%;
    border:1px solid #f2c779;
}
.notice {
    background:#e3f7fc url('/img/notice.png') no-repeat 10px 50%;
    border:1px solid #8ed9f6;
}

/*customized input*/
input{
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 3px;
    padding: 9px 10px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Microsoft soft";
    background:linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
}
/*toggled TOC with jquery.min.js*/
body.with-toc {
  margin-left:200px
}

#toc {
  display:none
}

.with-toc #toc {
  display:inherit
}

#toc {
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
  background: #e5e5e5;
  box-shadow: inset -5px 0 5px 0 #d5d5d5;
  width: 200px;
  padding-top: 20px;
  color: #333;
  overflow-y: scroll;
  margin-right:30px
}

#toc ul {
  margin: 0;
  padding: 0;
  list-style:none
}

#toc li {
  padding:5px .5em
}

#toc a {
  color: #333;
  text-decoration: none;
  display: block;
  outline:0
}

#toc .toc-h1 {
  font-size:1.1em
}

#toc .toc-h2 {
  font-size: 1em;
  padding-left:1.5em
}

#toc .toc-h3 {
  font-size: .9em;
  padding-left:2.5em
}

.toc-active {
  background:#c5c5c5
}

.toc-toggle {
  top: 70px;
  left: 0;
  position: fixed;
  height: 30px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 3px 3px 0 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: left bottom 0;
  -moz-transform-origin: left bottom 0;
  -ms-transform-origin: left bottom 0;
  -o-transform-origin: left bottom 0;
  transform-origin:left bottom 0
}

.with-toc .toc-toggle {
  left:199px
}

.toc-toggle::after {
  content: "\25b2";
  padding-left: .25em;
  font-size:.75em
}

.with-toc .toc-toggle::after {
  content: "\25bc";
  padding-left: .25em;
  font-size: .75em
}

.theme-light__forced, body {
  --white: #fff;
  --black: #0c0d0e;
  --orange: #f48024;
  --yellow: #fbf2d4;
  --green: #5eba7d;
  --blue: #0077cc;
  --powder: #e1ecf4;
  --red: #d1383d;
  --black-025: #fafafb;
  --black-050: #eff0f1;
  --black-075: #e4e6e8;
  --black-100: #d6d9dc;
  --black-150: #c8ccd0;
  --black-200: #bbc0c4;
  --black-300: #9fa6ad;
  --black-350: #9199a1;
  --black-400: #848d95;
  --black-500: #6a737c;
  --black-600: #535a60;
  --black-700: #3c4146;
  --black-750: #2f3337;
  --black-800: #242729;
  --black-900: #0c0d0e;
  --orange-050: #fff7f2;
  --orange-100: #fee3cf;
  --orange-200: #fcd0ad;
  --orange-300: #f7aa6d;
  --orange-400: #f48024;
  --orange-500: #f2720c;
  --orange-600: #da670b;
  --orange-700: #bd5c00;
  --orange-800: #a35200;
  --orange-900: #874600;
  --blue-050: #f2f9ff;
  --blue-100: #cfeafe;
  --blue-200: #addafc;
  --blue-300: #6cbbf7;
  --blue-400: #379fef;
  --blue-500: #0095ff;
  --blue-600: #0077cc;
  --blue-700: #0064bd;
  --blue-800: #0054a3;
  --blue-900: #004487;
  --powder-050: #f4f8fb;
  --powder-100: #e1ecf4;
  --powder-200: #d1e5f1;
  --powder-300: #b3d3ea;
  --powder-400: #a0c7e4;
  --powder-500: #7aa7c7;
  --powder-600: #5b8db1;
  --powder-700: #39739d;
  --powder-800: #2c5777;
  --powder-900: #1e3c52;
  --green-025: #eef8f1;
  --green-050: #dcf0e2;
  --green-100: #cae8d4;
  --green-200: #a6d9b7;
  --green-300: #82ca9a;
  --green-400: #5eba7d;
  --green-500: #48a868;
  --green-600: #3d8f58;
  --green-700: #2f6f44;
  --green-800: #29603b;
  --green-900: #1e472c;
  --yellow-050: #fdf7e3;
  --yellow-100: #fbf2d4;
  --yellow-200: #f1e5bc;
  --yellow-300: #e6d178;
  --yellow-400: #e9c63f;
  --yellow-500: #ddb624;
  --yellow-600: #cea51b;
  --yellow-700: #b89516;
  --yellow-800: #9f8010;
  --yellow-900: #826a0b;
  --red-050: #fdf3f4;
  --red-100: #f9d3d7;
  --red-200: #f4b4bb;
  --red-300: #e87c87;
  --red-400: #de535e;
  --red-500: #d1383d;
  --red-600: #c02d2e;
  --red-700: #ac2726;
  --red-800: #942121;
  --red-900: #7a1819;
  --gold: #ffcc01;
  --gold-lighter: #fff4d1;
  --gold-darker: #f1b600;
  --silver: #b4b8bc;
  --silver-lighter: #e8e8e8;
  --silver-darker: #9a9c9f;
  --bronze: #caa789;
  --bronze-lighter: #f2e9e1;
  --bronze-darker: #ab825f;
  --fc-dark: #0c0d0e;
  --fc-medium: #3c4146;
  --fc-light: #6a737c;
  --focus-ring: rgba(0, 149, 255, 0.15);
  --focus-ring-success: rgba(166, 217, 183, 0.4);
  --focus-ring-warning: rgba(233, 198, 63, 0.4);
  --focus-ring-error: rgba(192, 45, 46, 0.15);
  --focus-ring-muted: rgba(36, 39, 41, 0.1);
  --bs-sm: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.05), 0 2px 8px rgba(0, 0, 0, 0.05);
  --bs-md: 0 1px 3px rgba(0, 0, 0, 0.06), 0 2px 6px rgba(0, 0, 0, 0.06), 0 3px 8px rgba(0, 0, 0, 0.09);
  --bs-lg: 0 1px 4px rgba(0, 0, 0, 0.09), 0 3px 8px rgba(0, 0, 0, 0.09), 0 4px 13px rgba(0, 0, 0, 0.13);
  --scrollbar: rgba(0, 0, 0, 0.2);
  --highlight-bg: #f6f6f6;
  --highlight-color: #2f3337;
  --highlight-comment: #656e77;
  --highlight-punctuation: var(--black-600);
  --highlight-namespace: #b75501;
  --highlight-attribute: #015692;
  --highlight-literal: #b75501;
  --highlight-symbol: #803378;
  --highlight-keyword: #015692;
  --highlight-variable: #54790d;
  --highlight-addition: #2f6f44;
  --highlight-deletion: #c02d2e;
  --theme-body-font-color:var(--black-800)
}

@media (prefers-color-scheme: dark) {
    body.theme-system {
        --white: #2d2d2d;
        --black: #fff;
        --black-025: #393939;
        --black-050: #3d3d3d;
        --black-075: #404345;
        --black-100: #4a4e51;
        --black-150: #555a5e;
        --black-200: #697075;
        --black-300: #7d848d;
        --black-350: #959ca3;
        --black-400: #9fa6ad;
        --black-500: #acb2b8;
        --black-600: #c4c8cc;
        --black-700: #cfd2d6;
        --black-750: #dadee0;
        --black-800: #e7e8eb;
        --black-900: #f2f2f3;
        --orange-050: #473c33;
        --orange-100: #5e4433;
        --orange-200: #8d5a2f;
        --orange-300: #cc7525;
        --orange-400: #f48024;
        --orange-500: #ff901e;
        --orange-600: #ffa95e;
        --orange-700: #f8b682;
        --orange-800: #fcd6b9;
        --orange-900: #fee7d6;
        --blue-050: #233e52;
        --blue-100: #25445f;
        --blue-200: #295070;
        --blue-300: #2b5f8a;
        --blue-400: #3070ab;
        --blue-500: #378ad3;
        --blue-600: #3ca4ff;
        --blue-700: #81c4f8;
        --blue-800: #b8dffd;
        --blue-900: #d5ecfd;
        --powder-050: #414648;
        --powder-100: #3e4a52;
        --powder-200: #43525f;
        --powder-300: #4c6071;
        --powder-400: #577489;
        --powder-500: #688eac;
        --powder-600: #7badd3;
        --powder-700: #9cc3db;
        --powder-800: #cde1ee;
        --powder-900: #e5f3ff;
        --green-025: #2e4233;
        --green-050: #344b3a;
        --green-100: #3d6048;
        --green-200: #487455;
        --green-300: #4d815c;
        --green-400: #5a9e6f;
        --green-500: #63b47c;
        --green-600: #76c490;
        --green-700: #93d0a8;
        --green-800: #b3dec1;
        --green-900: #d0eada;
        --yellow-050: #464236;
        --yellow-100: #524b38;
        --yellow-200: #675c37;
        --yellow-300: #7e6f3a;
        --yellow-400: #9e883b;
        --yellow-500: #bf9f37;
        --yellow-600: #dab941;
        --yellow-700: #f1d056;
        --yellow-800: #f8df7a;
        --yellow-900: #fcedaf;
        --red-050: #572f32;
        --red-100: #723738;
        --red-200: #873f3e;
        --red-300: #9b4544;
        --red-400: #b24d49;
        --red-500: #c4524f;
        --red-600: #d25d5d;
        --red-700: #de7176;
        --red-800: #e7929a;
        --red-900: #f2c1c7;
        --gold: #ffcc01;
        --gold-lighter: #5e553c;
        --silver: #b4b8bc;
        --silver-lighter: #424242;
        --bronze: #caa789;
        --bronze-lighter: #4d433b;
        --fc-dark: var(--black-900);
        --fc-medium: var(--black-700);
        --fc-light: var(--black-500);
        --focus-ring: rgba(55, 138, 211, 0.15);
        --focus-ring-success: rgba(72, 116, 85, 0.4);
        --focus-ring-warning: rgba(158, 136, 59, 0.4);
        --focus-ring-error: rgba(196, 82, 79, 0.3);
        --focus-ring-muted: rgba(231, 232, 235, 0.1);
        --bs-sm: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
        --bs-md: 0 1px 3px rgba(0, 0, 0, 0.11), 0 2px 6px rgba(0, 0, 0, 0.11), 0 3px 8px rgba(0, 0, 0, 0.14);
        --bs-lg: 0 1px 4px rgba(0, 0, 0, 0.14), 0 3px 8px rgba(0, 0, 0, 0.14), 0 4px 13px rgba(0, 0, 0, 0.18);
        --scrollbar: rgba(255, 255, 255, 0.2);
        --highlight-bg: #1c1b1b;
        --highlight-color: #fff;
        --highlight-comment: #999;
        --highlight-punctuation: #ccc;
        --highlight-namespace: #f08d49;
        --highlight-attribute: #88aece;
        --highlight-literal: #f08d49;
        --highlight-symbol: #c59bc1;
        --highlight-keyword: #88aece;
        --highlight-variable: #b5bd68;
        --highlight-addition: var(--green-600);
        --highlight-deletion:var(--red-700)
    }
}

.theme-dark__forced, body.theme-dark {
    --white: #2d2d2d;
    --black: #fff;
    --black-025: #393939;
    --black-050: #3d3d3d;
    --black-075: #404345;
    --black-100: #4a4e51;
    --black-150: #555a5e;
    --black-200: #697075;
    --black-300: #7d848d;
    --black-350: #959ca3;
    --black-400: #9fa6ad;
    --black-500: #acb2b8;
    --black-600: #c4c8cc;
    --black-700: #cfd2d6;
    --black-750: #dadee0;
    --black-800: #e7e8eb;
    --black-900: #f2f2f3;
    --orange-050: #473c33;
    --orange-100: #5e4433;
    --orange-200: #8d5a2f;
    --orange-300: #cc7525;
    --orange-400: #f48024;
    --orange-500: #ff901e;
    --orange-600: #ffa95e;
    --orange-700: #f8b682;
    --orange-800: #fcd6b9;
    --orange-900: #fee7d6;
    --blue-050: #233e52;
    --blue-100: #25445f;
    --blue-200: #295070;
    --blue-300: #2b5f8a;
    --blue-400: #3070ab;
    --blue-500: #378ad3;
    --blue-600: #3ca4ff;
    --blue-700: #81c4f8;
    --blue-800: #b8dffd;
    --blue-900: #d5ecfd;
    --powder-050: #414648;
    --powder-100: #3e4a52;
    --powder-200: #43525f;
    --powder-300: #4c6071;
    --powder-400: #577489;
    --powder-500: #688eac;
    --powder-600: #7badd3;
    --powder-700: #9cc3db;
    --powder-800: #cde1ee;
    --powder-900: #e5f3ff;
    --green-025: #2e4233;
    --green-050: #344b3a;
    --green-100: #3d6048;
    --green-200: #487455;
    --green-300: #4d815c;
    --green-400: #5a9e6f;
    --green-500: #63b47c;
    --green-600: #76c490;
    --green-700: #93d0a8;
    --green-800: #b3dec1;
    --green-900: #d0eada;
    --yellow-050: #464236;
    --yellow-100: #524b38;
    --yellow-200: #675c37;
    --yellow-300: #7e6f3a;
    --yellow-400: #9e883b;
    --yellow-500: #bf9f37;
    --yellow-600: #dab941;
    --yellow-700: #f1d056;
    --yellow-800: #f8df7a;
    --yellow-900: #fcedaf;
    --red-050: #572f32;
    --red-100: #723738;
    --red-200: #873f3e;
    --red-300: #9b4544;
    --red-400: #b24d49;
    --red-500: #c4524f;
    --red-600: #d25d5d;
    --red-700: #de7176;
    --red-800: #e7929a;
    --red-900: #f2c1c7;
    --gold: #ffcc01;
    --gold-lighter: #5e553c;
    --silver: #b4b8bc;
    --silver-lighter: #424242;
    --bronze: #caa789;
    --bronze-lighter: #4d433b;
    --fc-dark: var(--black-900);
    --fc-medium: var(--black-700);
    --fc-light: var(--black-500);
    --focus-ring: rgba(55, 138, 211, 0.15);
    --focus-ring-success: rgba(72, 116, 85, 0.4);
    --focus-ring-warning: rgba(158, 136, 59, 0.4);
    --focus-ring-error: rgba(196, 82, 79, 0.3);
    --focus-ring-muted: rgba(231, 232, 235, 0.1);
    --bs-sm: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
    --bs-md: 0 1px 3px rgba(0, 0, 0, 0.11), 0 2px 6px rgba(0, 0, 0, 0.11), 0 3px 8px rgba(0, 0, 0, 0.14);
    --bs-lg: 0 1px 4px rgba(0, 0, 0, 0.14), 0 3px 8px rgba(0, 0, 0, 0.14), 0 4px 13px rgba(0, 0, 0, 0.18);
    --scrollbar: rgba(255, 255, 255, 0.2);
    --highlight-bg: #1c1b1b;
    --highlight-color: #fff;
    --highlight-comment: #999;
    --highlight-punctuation: #ccc;
    --highlight-namespace: #f08d49;
    --highlight-attribute: #88aece;
    --highlight-literal: #f08d49;
    --highlight-symbol: #c59bc1;
    --highlight-keyword: #88aece;
    --highlight-variable: #b5bd68;
    --highlight-addition: var(--green-600);
    --highlight-deletion:var(--red-700)
}
